h1 {
  font-family: Montserrat, sans-serif;
  font-size: 60px;
  font-weight: bolder;
  margin: 10px 10px 10px 0;
}

h2 {
  font-family: Raleway, sans-serif;
  font-size: 30px;
  margin: 10px 10px 10px 10px;
}

p{
  font-family: Raleway, serif;
}

summary{
  font-family: Raleway, serif;
  font-size: 18px;
  font-weight: bolder;
}

nav {
  height: 40px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  width: 100%;
  display: flex;
  align-items: center;
}

nav div {
  width: 960px;
  margin: 0 auto;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

nav li {
  list-style: none;

}

nav a {
  text-decoration: none;
  color: #55668A;
  font-family: Raleway, sans-serif;
  white-space: nowrap;
}

nav a:hover {
  color: #E8353F;
}

@media screen and (max-width: 576px) {

  nav{
    height:auto;
  }
  nav ul {
    flex-flow: column;
  }

  nav li{
    line-height: 40px;
    border-bottom: 1px solid #E8353F;
  }

  nav .container{
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  nav .current{
    display: none;
  }


}

.fas{
  color: #005F73;
  font-size: 60px;
  margin: 15px auto;
}

.pain{
  margin: 5px;
  background-color: white;
  border-radius: 5%;
  box-shadow: 1px 2px 2px 1px #55668A;
}

/* .pain:hover{
  box-shadow: 2px 3px 2px 1px #55668A;
} */

/*Setup for CSS grid*/

.box1 {
  grid-area: box1;
  background: url("../images/hike.jpg") right center no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay{
  color: white;
  width: 90%;
  margin: 10%
}

.box2 {
  grid-area: box2;
  background: #F2D054;
}

.box3 {
  grid-area: box3;
  background-color: rgb(15, 183, 132);
}

.box4 {
  grid-area: box4;
}

.box5 {
  grid-area: box5;
}

.box6 {
  grid-area: box6;
}

.box7 {
  grid-area: box7;
}

.box8 {
  grid-area: box8;
}

.box9 {
  grid-area: box9;
  text-align: center;
  width: 75%;
  margin: 10px auto;
  background: #005F73;
  color: white;
  border-radius: 5px;
  box-shadow: 1px 2px 2px 1px gray;
}

.box9:hover{
  box-shadow: 3px 4px 2px 1px gray;
  background-color: rgb(15, 183, 132);
}

.box10 {
  grid-area: box10;
}

/* Phones */
/* this layout will sort all of the articles and sidebars in a single column */
.grid {
  text-align: center;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "box1"
  "box2"
  "box3"
  "box4"
  "box5"
  "box6"
  "box7"
  "box8"
  "box9"
  "box10";
}

/* (Desktops) */

@media (min-width: 576px) {

  .grid {
    max-width: 1080px;
    margin: 10px auto;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "box1 box1 box1 box2 box2"
    "box1 box1 box1 box3 box3"
    "box9 box9 box9 box9 box9"
    "box4 box5 box6 box7 box8"
    "box10 box10 box10 box10 box10";
  }

}
